<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>divsoup</title>
</head>
<style>



 div {
   width: 20%;
   height: 700px;
   margin: -1%;

   display: inline-block;
 }

</style>
<body>

<div style="background-image: linear-gradient(to right, red, blue);"></div>

<div style="background-image: linear-gradient(to right, blue, orange);"></div>

<div style="background-image: linear-gradient(to right, orange, yellow);"></div>

<div style="background-image: linear-gradient(to right, yellow, green);"></div>

<div style="background-image: linear-gradient(to right, green, lightgreen);"></div>

</body>
</html>
