h2 {
  font-family: 'Roboto', sans-serif;
  margin-top: 10%;
}

h2:last-child {
  font-family: "Roboto2", arial;
}

@font-face {
  font-display: fallback;
  font-family: 'Roboto2';
  src: local('Charm Regular'), local('Charm-Regular'), url(https://fonts.gstatic.com/s/charm/v3/7cHmv4oii5K0MdYoK-4.woff2) format('woff2');
}

@font-face {
  font-display: block;
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');

}
