.App {
  text-align: center;
}
.message-enter {
  opacity: 0;
 }
 .message-enter-active {
  opacity: 1;
  transition: opacity 200ms;
 }
 .message-exit {
  opacity: 1;
 }
 .message-exit-active {
  opacity: 0;
  transition: opacity 200ms;
 }